/* Make the whole page centered for landing page but normal for the game */
body {
  margin: 0;
  font-family: sans-serif;
}

/* LANDING PAGE */
.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing_page {
  display: grid;
  place-items: center;
  max-width: 480px;
  width: 90%;
  border: 3px solid green;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

/* GAME LAYOUT */
#game {
  text-align: center;
  margin-top: 10px;
}

.sc {
  text-align: center;
  margin-bottom: 20px;
}

/* CARDS GRID */
.container {
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(2, 220px);
  gap: 30px;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* CARD STYLING */
.card {
  width: 160px;
  height: 220px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.back {
  transform: rotateY(180deg);
}

/* POPUP */
#result {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-w {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}
